<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css'
    />
    <title>Register</title>
  </head>
  <body>
    <div class='uk-container uk-form-width-xsmall'>

      <div
        class='uk-card uk-card-primary uk-card-body uk-position-top uk-text-center'
      >
        <h1 class='uk-heading-xlarge'>Register</h1>
      </div>
      <div class='uk-position-center'>

        <form action='/signup' method='POST'>

          <div class='uk-margin'>
            <label class='uk-form-label' for='form-stacked-text'>Name:</label>
            <div class='uk-form-controls'>
              <input
                class='uk-input uk-form-width-large uk-form-large'
                type='text'
                name='name'
                placeholder='Enter your name'
                required
                pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?).{1,}"
                title='Must begin and contain at least two letters'
              />
            </div>
          </div>

          <div class='uk-margin'>
            <label class='uk-form-label' for='form-stacked-text'>Age:</label>
            <div class='uk-form-controls'>
              <input
                class='uk-input uk-form-width-large uk-form-large'
                type='number'
                name='age'
                min='6'
                max='120'
                placeholder='Age'
                required
                title='You must be over 5 and under 120'
              />
            </div>
          </div>

          <div class='uk-margin'>
            <label class='uk-form-label' for='form-stacked-text'>Email address:</label>
            <div class='uk-form-controls'>
              <input
                class='uk-input uk-form-width-large uk-form-large'
                type='email'
                name='email'
                placeholder='Enter your email'
                required
              />
            </div>
          </div>

          <div class='uk-margin'>
            <label
              class='uk-form-label'
              for='form-stacked-text'
            >Password:</label>
            <div class='uk-form-controls'>
              <input
                class='uk-input uk-form-width-large uk-form-large'
                type='password'
                name='password'
                placeholder='Enter your password'
                required
                pattern='^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,}'
                title='Must contain at least one  number and one uppercase and lowercase letter, and at least 6 or more characters'
              />
            </div>
          </div>
          <div class='uk-margin'>
            <div class='uk-form-controls'>
              <input
                class='uk-input uk-button-primary uk-form-width-large uk-form-large'
                type='submit'
                name='Send'
              />
            </div>
          </div>

        </form>
        <div class='uk-margin uk-text-center'>
          <label>Already have account? </label><a
            class='uk-link-heading'
            href='/login'
          >Login</a>
        </div>
      </div>
    </div>
  </body>
</html>