<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css'
    />
    <title>User</title>
  </head>
  <body>
    <div class='uk-text-center uk-column-1@xl' uk-grid>
      <div class='uk-card uk-card-primary uk-card-body'>
        <h1 class="uk-heading-xlarge">User</h1>
      </div>
      <div class="uk-flex-middle" uk-grid >
        <div class='uk-card uk-card-default uk-card-large uk-card-body'>
          <h2 class='uk-card-title'>User name: {{user.name}}</h2>
          <h3 class='uk-card-title'>User age: {{user.age}}</h2>
        </div>
      </div>
    </div>
  </body>
</html>